*.pyc
*.log
node_modules
coverage/
crimson/logs
crimson/export_deliverables
crimson/cantaloupe/*
crimson/staticfiles
crimson/media/packages
crimson/media/build/
crimson/uploadedfiles/*
crimson/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
